NODE_ENV="development"
DATABASE_URL="mysql://root:@localhost:3306/agendamento_atendimento"
PORT=3001
FRONTEND_URL="http://localhost:5173"
TRUST_PROXY="false"

# JWT Configuration
JWT_SECRET="defina-um-segredo-com-pelo-menos-32-caracteres-unico-para-dev"
JWT_EXPIRES_IN="8h"
JWT_ISSUER="agendamento-atendimento"
JWT_AUDIENCE="agendamento-atendimento-client"
